/*POSTCARD ON LANDING PAGE*/

.card-data {
    display: flex;
    justify-content: space-between;
}

.postcard-image {
    display: block;
    max-width: 94%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.postcard-image-blur {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

/*DETAILS PAGE*/

.photo-display {
    max-width: 100%;
    max-height: 90vh;
}

/*UPDATE LOCATION PAGE*/

.image-small {
    max-height: 200px;
}
