/*POSTCARD ON LANDING PAGE*/

postcard-link {
    background-color: #222;
    text-decoration: none;
}

postcard-text-left {
    float: left;
}

postcard-text-right {
    float: right;
}

.postcard-image {
    display: block;
    max-width: 96%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/*DETAILS PAGE*/
.photo-display {
    max-width: 100%;
    max-height: 90vh;
}

/*UPDATE LOCATION PAGE*/
.image-small {
    max-height: 200px;
}



.postcard-image: hover {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}