{% extends 'base.html' %} {% block content %}

<section>

    <div class="row mx-auto">
        <div class="col-md-8">
            <h3>Picture</h3>
            <img class='photo-display' src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/31949639_1403627683116325_1540507277612548096_o.jpg?_nc_cat=109&_nc_oc=AQmZZZwbyAnGnL-RZDTQ6pBuuFFUIkiuPwFWJIAio8ZSOfACav4Fgs-nXkLpxnu5ac8&_nc_ht=scontent-lht6-1.xx&oh=3b40cdedb45649c2775f677749f72522&oe=5E2BBD61"></img>
        </div>
        <div class="col-md-4">
            <h3>Details</h3>
            <div class="row">
<!--                <div class="col-sm-4">
                    title of the fields
                </div>
                <div class="col-sm-8">
                    field data
                </div>-->
                <table class="table table-hover">
                 <!--   <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Column heading</th>
                        </tr>
                    </thead>-->
                    <tbody>
                        <tr class="table-light"> <!-- alternate default, light, and secondary-->
                            <th scope="row">Title of field</th>
                            <td>field data</td>
                        </tr>
                </table>
                </table>
            </div>
        </div>
    </div>

</section>


{% endblock %}
