{% extends 'base.html' %} {% block content %}

<section>
    <!--WE are sending here one document from the details collection named 'record' and all the collections as a list named 'categories'-->
    <div class="row mx-auto">
        <div class="col-md-8 text-center">
            <h3>Picture</h3>
            <img class='photo-display' src="{{record.image_url}}"></img>
        </div>
        <div class="col-md-4 text-center">
            <h3>Details</h3>
            <div class="row mr-3">
                <table class="table table-striped text-left">
                    <tbody>
                        <tr class="table">
                            <!-- may alternate default, light, and secondary-->
                            <th scope="row">Title</th>
                            <td>{{ record.title }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Category</th>
                            <td>{{ record.category_name }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Country</th>
                            <td>{{ record.country }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Region/City</th>
                            <td>{{ record.region }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Post Code</th>
                            <td>{{ record.post_code }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Coordinates</th>
                            <td>{{ record.lat }} ,&nbsp; {{ record.lon }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Camera</th>
                            <td>{{ record.camera }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Lens</th>
                            <td>{{ record.lens }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Filter(s)</th>
                            <td>{{ record.filters }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Tripod</th>
                            <td>{{ record.tripod_used }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Photographer</th>
                            <td>{{ record.photographer }}</td>
                        </tr>
                        <tr class="table">
                            <th scope="row">Year</th>
                            <td>{{ year }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-12">
                    <div class="row btn-row p-2">
                        <div class="buttons">
                            <a href="{{url_for('edit_record', record_id = record._id)}}" type="button" class="btn btn-info">Edit</a>
                        </div>
                        <div class="buttons">
                            <a href="{{url_for('delete_record', record_id = record._id)}}" type="button" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                    <div class="row likes-and-views-row p-2">
                        <div class="likes p-2">
                            <a href="{{url_for('add_like', record_id = record._id)}}" title="Click to add a LIKE" class="invisible-like-btn">
                                <i class="far fa-thumbs-up"></i>
                                </a>
                            <span class='mr-1'></span>
                            <span class="badge badge-info">{{ record.num_of_likes }}</span>
                        </div>

                        <div class="views p-2">
                            <span class='mr-1'><i class="far fa-eye"></i></span>
                            <span class="badge badge-info postcard-text-right">{{ record.num_of_views }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-sm-4">
            <h5>{{ record.title }}</h5>
        </div>
        <div class="col-sm-8">
            <span>{{ record.description }}</span>
        </div>
    </div>

</section>



{% endblock %}
