{% extends 'base.html' %} {% block content %}


    <!-- ************** Jumbotron ********************* -->

    <div class="container-fluid callout-container">
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center py-0 pt-md-5">
                    <h1>Landscape photography locations</h1>
                    <h1 class="d-none d-md-inline">find stunning photo locations </h1>
                    <p class="lead py-0 py-md-5">
                        near you or when on holidays
                        <span class="d-none d-md-inline"> ... or get inspiration for your next trip</span>
                    </p>
                 </section>
            </div>
        </div>
    </div>
    <!-- *************** /. Jumbotron ********************* -->





{% endblock %}