{% extends 'base.html' %} {% block content %}


<!-- ************** Jumbotron ********************* -->

<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center py-0 pt-md-2">
                <h1>Landscape Photography Locations</h1>
                <h2 class="d-none d-md-inline">Find stunning photo locations </h2>
                <p class="lead py-0 py-md-5">
                    <span>near you or when on holidays...</span>
                    <br>
                    <span class="d-none d-md-inline"> ... or get inspiration for your next trip</span>
                </p>
            </section>
            <section class="callout jumbotron text-center py-0 pt-md-2">
                <h4 class='counter'>Already {{counter}} locations in our database!</h4>
            </section>
        </div>
    </div>

</div>
<!-- *************** /. Jumbotron ********************* -->

<!-- ********************* MAP ********************* -->

<div class="container map-container" id='map'>
    <section class="map">
        <div class="row">
            <div class="col-12">
                <div class="section-title mt-5 mb-3 text-center">
                    <h2>Find a location on the Map</h2>
                </div>
            </div>
        </div>
        <div class="row mx-auto p-4">
            <div class="google-maps mx-auto">
                <iframe src="https://www.google.com/maps/embed" width="900px" height="500px" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </section>
</div>

<!-- ******************** /. MAP ********************* -->


<!-- *************** Further Instructions ********************* -->

<div class="container-fluid callout-container">
    <section class="callout jumbotron text-center py-0 pt-md-2">
        <div class="row">
            <h2 class="section-title">Further information comes here</h2>
            <div class="row">
                <div class="col-12 instructions-box">
                </div>
            </div>
        </div>
    </section>
</div>

<!-- *************** /. Instructions  ********************* -->


{% endblock %}
