{% extends 'base.html' %} {% block content %}


<!-- ************** Jumbotron ********************* -->

<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center py-0 pt-md-2">
                <h1>Landscape Photography Locations</h1>
                <h2 class="d-none d-md-inline">Find stunning photo locations </h2>
                <p class="lead py-0 py-md-5">
                    <span>near you, or when on holidays...</span>
                    <br>
                    <span class="d-none d-md-inline"> ... or get inspiration for your next trip</span>
                </p>
            </section>
            <section class="callout jumbotron text-center py-0 pt-md-2">
                <h4 class='counter'>Already {{counter}} locations in our database!</h4>
            </section>
        </div>
    </div>

</div>
<!-- *************** /. Jumbotron ********************* -->

<!-- ********************* MAP ********************* -->

<div class="container map-container d-none d-md-block" id="map-container">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="section-title mt-5 mb-3 text-center">
                    <h2>Find a location on the Map</h2>
                </div>
            </div>
        </div>

    </section>
    <div>
        <div id="map"></div>
    </div>
</div>


<!-- ******************** /. MAP ********************* -->

<!-- *************** Further Instructions ********************* -->

<div class="container-fluid callout-container">
    <section class="callout jumbotron text-center py-0 pt-md-2">
        <div class="row">
            <h2 class="section-title">Further information comes here</h2>
            <div class="row">
                <div class="col-12 instructions-box">
                </div>
            </div>
        </div>
    </section>
</div>

<!-- *************** /. Instructions  ********************* -->


<script>
    //receiving the location coordinates from the route function 
    var data_source = {{ data_source | tojson }};
    
    // Creating labels for each category
    var customLabel = {
        Cloudscape: {label: 'Cl'},
        Landscape: {label: 'L'},
        Cityscape: {label: 'C'},
        Seascape: {label: 'S'}
      };

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 50, lng: 30 }
        });
        var markers = []
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        var infoWindowContent = []
        var bounds = new google.maps.LatLngBounds();

        for (i = 0; i < data_source.length; i++) { 
            var id
            var category
            var title
            var location
            var imgUrl
            var detailsLink
            var infowincontent
            var strong
            var text
            var icon
            var marker
            
            //Loading data to the markers
            id = data_source[i]["id"];
            category= data_source[i]["cat"];
            title = data_source[i]["title"]
            location = data_source[i]["point"];
            detailsLink = "{{ url_for('display_details', rec_id=id) }}"
            bounds.extend(location);
            
            // This is a workaround for the id not passing through to the url:
            var combinedLink = detailsLink.concat(id); 

            //Creating content for the Google map API' infoWindow 
            infowincontent = document.createElement('div');
            strong = document.createElement('strong');
            strong.textContent = title
            infowincontent.appendChild(strong);
            infowincontent.appendChild(document.createElement('br'));
            text = document.createElement('text');
            text.textContent = category
            infowincontent.appendChild(text);
            icon = customLabel[category] || {};
            infoWindowContent.push(infowincontent)

            //Putting the marker together
            marker = new google.maps.Marker({
                map: map,
                position: location,
                label: icon.label,
                url: combinedLink
            });
            
            //Assigning value to the infoWindow
            infoWindow.setContent(infowincontent);
            
            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
            var currentZoom = map.getZoom();

            //Adding the Google API's listener to the marker
                //Display the infoWindow on moseover
            google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));
            
                // ... and hide it on mouseout
            google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                return function() {
                    infoWindow.close();
                }
            })(marker, i));
            
            //Adding an event listener to the marker with the url to the details view of that location
            google.maps.event.addListener(marker, 'click', function() {
                window.location.href = this.url;
            });
            
            // adding the marker to the array of markers for the marker Clusterer
            markers.push(marker);
        }

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, 
            {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                averageCenter: true,
                //gridSize: 20,
            });
        
    }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh5hquqnIYsTyfmzkJds-warsV1FJ4smU&callback=initMap" type="text/javascript"></script>

{% endblock %}
