{% extends 'base.html' %} {% block content %}

<div>
    <a class=postcard-link href="{{url_for('add_location')}}">
        <button class>ADD</button>
    </a>
</div>
<!--****************   The 'POSTCARDS' for displaying database enrtries nicely   *********************************-->
<section>
    <div class="row p-3">
        {% for entry in entries %}
        <div class="col-12 col-lg-3">
            <div class="postcard card mb-3">
                <h4 class="card-header mx-auto">{{entry.title}}</h4>
                <a class=postcard-link href="{{url_for('display_details', rec_id = entry._id)}}">
                    <img class="postcard-image" src="{{entry.image_url}}" alt="Card image">
                </a>
                <div class="card-body">
                    <span class="card-text postcard-text-left pr-3">{{entry.country}}</span>
                    <span class="card-text postcard-text-left">{{entry.category_name}}</span>
                </div>
                <div class="card-footer text-muted">
                    <span class='p-3'>Likes:<span class="badge badge-info postcard-text-left p-1 m-2">{{ entry.liked }}</span></span>
                    <span class='p-3'>Views:<span class="badge badge-info p-1 m-2">{{ entry.viewed }}</span></span>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>
<!--**********************************  /. The 'POSTCARDS'  ********************************************************************-->

{% endblock %}
