{% extends 'base.html' %} {% block content %}

<!-- record = the_record, categories = category_list-->
<div class="container">
    <form action="{{url_for('save_updates',record_id = record._id)}}" method="POST">
        <fieldset>
            <legend>Edit Your Record</legend>
            <div class="form-group mb-0 row">
                <div class="form-group mb-0 col-sm-8">
                    <label for="title" class="col-form-label">Title</label>
                    <input type="text" class="form-control" required id="title" name='title' value="{{ record.title }}">
                    <small id="titlelHelp" class="form-text text-muted">The title that best describes the location where your picture was taken</small>
                </div>
                <div class="col-sm-4">
                    <label for="category" class="col-form-label">Category</label>
                    <select class="form-control" required id="category" name='category_name'>
                        <option value="" disabled selected>Choose your Category</option>
                        {% for cat in categories %}
                            {% if cat.category_name == record.category_name %}
                                <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                            {% else %}
                                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <small id="categoryHelp" class="form-text text-muted">The category that best describes your photo location</small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="country" class="col-form-label">Country</label>
                    <input type="text" class="form-control" required id="country" name='country' value="{{ record.country }}">
                </div>
                <div class="col-sm-6">
                    <label for="region" class="col-form-label">Region / City</label>
                    <input type="text" class="form-control" id="region" name='region' value="{{ record.region }}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="postCode" class="col-form-label">Post Code</label>
                    <input type="text" class="form-control" id="postCode" name='post_code' value="{{ record.post_code }}">
                </div>
                <div class="col-sm-4">
                    <label for="latitude" class="col-form-label">Latitude</label>
                    <input type="number" required class="form-control" id="latitude" name='lat' step="0.000001" value="{{ record.lat }}">
                </div>
                <div class="col-sm-4">
                    <label for="longitude" class="col-form-label">Longitude</label>
                    <input type="number" required class="form-control" id="longitude" name='lon' step="0.000001" value="{{ record.lon }}">
                </div>
            </div>
            <legend>Details of Your Photo</legend>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="camera" class="col-form-label">Camera</label>
                    <input type="text" class="form-control" id="camera" name='camera' value="{{ record.camera }}">
                </div>
                <div class="col-sm-4">
                    <label for="lens" class="col-form-label">Lens</label>
                    <input type="text" class="form-control" id="lens" name='lens' value="{{ record.lens }}">
                </div>
                <div class="col-sm-4">
                    <label for="filter" class="col-form-label">Filter(s)</label>
                    <input type="text" class="form-control" id="filter" name='filters' value="{{ record.filters }}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-7">
                    <label for="photographer" class="col-form-label">Photographer</label>
                    <input type="text" required class="form-control" id="photographer" name='photographer' value="{{ record.photographer }}">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="mt-5 custom-control custom-switch">
                        {% if record.tripod_used %}
                            <input type="checkbox" checked class="custom-control-input" id="tripod" name='tripod_used'> 
                        {% else %}
                            <input type="checkbox" class="custom-control-input" id="tripod" name='tripod_used'> 
                        {% endif %}
                        <label class="custom-control-label" for="tripod">Tripod was used</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" required id="description" name='description' rows="3" value="{{ record.description }}">{{ record.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="url" class="col-form-label">URL</label>
                <input type="url" class="form-control" id="url" name='image_url' value="{{ record.image_url }}">
                <small id="urlHelp" class="form-text text-muted">Insert the link to your picture</small>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary my-2">Submit</button>
                </div>
                <div class="col-sm-9">
                    <img class='image-small' src={{record.image_url}} alt="Small image">                    
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
